$backgroundColor: #333;
$textColor: white;
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $backgroundColor;
  margin: 0px;
  padding: 0;
}
p,
h1,
h2 {
  color: $textColor;
}
input {
  color: black !important;
}

.App {
  text-align: center;
  width: 60%;
  margin: 0px auto;
  .nav-bar {
    text-align: left;
    h1 {
      padding: 5px 0px;
      margin: 0px;
      font-size: 1.5em;
    }
  }
  .main-content {
    .search {
      img {
        width: 25%;
      }
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.2em;
      }
      form {
        input {
          font-size: 16px;
          width: 50%;
          margin: 15px auto;
          margin-bottom: 5px;
          padding: 15px;
          border-radius: 7px;
          display: block;
        }
        button {
          cursor: pointer;
          margin: 0px 15px;
          padding: 10px 25px;
          border-radius: 7px;
          color: #333;
          background-color: #ddd;
          border: 2 solid #ddd;
          font-size: 1.1em;
          font-weight: bolder;
          &:hover {
            color: white;
            border: 2 solid #ddd;
            background: transparent;
          }
        }
      }
    }
    .days-cards {
      .city-card {
        width: 30%;
        margin: 15px auto;
        border: 2px solid #ddd;
        border-radius: 7px;
        padding: 10px;
        image {
          display: inline;
        }
        p.description {
          margin: 0;
        }
        p.temp {
          font-size: 2em;
          margin: 0px;
          font-weight: bolder;
          span {
            font-weight: normal;
            font-size: 0.5em;
            position: relative;
            bottom: 15px;
            left: -5px;
            margin: 0px;
          }
        }
        p.country {
        }
        h2 {
          margin: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .App {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    .nav-bar {
      h1 {
        position: absolute;
        left: 15px;
        top: 10px;
      }
    }
    .main-content {
      .search {
        img {
          margin-top: 70px;
          width: 30%;
        }
      }
    }
  }
}
